:root {
  /* galaxy image from https://unsplash.com/s/photos/galaxy */
  --bg-image: url("https://images.unsplash.com/photo-1419242902214-272b3f66ee7a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2113&q=80I");

  /* violet */
  --primary-color: 111, 76, 255;

  /* white */
  --text-color: 256, 256, 256;
}

/* sort menu */

.statistics-menu {
  margin-top: 5rem;
}

.statistics-menu ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: center;
}

.statistics-menu p {
  margin-top: 1.5rem;
}

.statistics-menu li + li {
  margin-top: 0rem;
}

/* data table styles */
.data-table {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-left: 90px;
  margin-right: 90px;
}

/* data box styles */
.content-box {
  display: flex;
  flex-direction: column;
  text-align: center;
  place-content: center;
  margin: 10px auto 10px auto;
  padding: 10px;
  height: 200px;
  width: 300px;
  border-radius: 10px;
  position: relative;
}

/* background styles for data box */
.bg-blur {
  overflow: hidden;
  background-color: transparent;
}

.bg-blur::before {
  content: "";
  background-image: var(--bg-image);
  background-size: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  filter: blur(30px);
  z-index: -1;
}

/* content styles */
.state {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.year {
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  font-weight: 400;
}

.population {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

/* animation */
.content-box:hover {
  transform: scale(1.07);
  transition-timing-function: ease-out;
  transition: transform .2s;
}

.content-box:hover .state {
  font-size: 23px;
  text-shadow: dimgray;
}

.content-box:hover .year {
  font-size: 28px;
  color: deeppink;
  text-shadow: dimgray;
}

.content-box:hover .population {
  font-size: 23px;
  text-shadow: dimgray;
}