:root {

  /* black */
  --text-color: 256, 256, 256;
}

/* sort menu */

.filter-menu {
  margin-top: 5rem;
}

.filter-menu ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: center;
}

.filter-menu p {
  margin-top: 1.5rem;
}

.filter-menu li + li {
  margin-top: 0rem;
}

/* data table styles */
.data-table {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-left: 90px;
  margin-right: 90px;
}

/* data box styles */
.content-box {
  display: flex;
  flex-direction: column;
  place-content: center;
  margin: 10px auto 10px auto;
  padding: 10px;
  height: 300px;
  width: 300px;
  border: 1px black solid;
  position: relative;
}