:root {

  /* black */
  --text-color: 256, 256, 256;
}

/* sort menu */

.filter-menu {
  margin-top: 5rem;
}

.filter-menu ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: center;
}

.filter-menu p {
  margin-top: 1.5rem;
}

.filter-menu li + li {
  margin-top: 0rem;
}

/* data table styles */
.data-table {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-left: 90px;
  margin-right: 90px;
}

/* data box styles */
.content-box {
  display: flex;
  flex-direction: column;
  place-content: center;
  margin: 10px auto 10px auto;
  height: 553px;
  width: 300px;
  border: 1px black solid;
}

.params-list {
  display: flex;
  margin: 0;
  padding: 0;
}

.params-list li {
  flex-direction: row;
  margin-left: 2em;
}

.params-list li:first-child {
  list-style: none;
  margin-left: 0;
}

.photo {
  
}

.title {
  color: black;
  text-transform: uppercase;
  font-size: 2em;
  padding-left: .7em;
  padding-top: .3em;
}

.desc {
  width: 280px;
  padding-left: 1.5em;
}

.fuelType {
  margin: 0;
}