
/* microbase util css style */

/* author: Tomasz Dudkowski */

/* imports fonts and reset css */
@import url("https://csstools.github.io/normalize.css/11.0.0/normalize.css");

/* settings */
:root {
  --color-primary: #3740ff;
  --color-primary-dark: #272eb5;
  --color-primary-light: #3740ff;
  --color-primary-x-light: #e8f0fe;
  --color-light: #ffffff;
  --color-dark: #202124;
  --color-off-white: #f3f4f4;
  --color-mid: #5f6368;
  --color-mid-dark: #3c4043;
  --color-stroke: #dadce0;
  --color-background: #1d1e22;
  --metric-gutter: 1.5rem;
  --metric-box-spacing: 1rem;
  --metric-radius: 3px;
  --generic-shadow: 0px 1px 2px rgba(60, 64, 67, 0.3),
    0px 2px 6px 2px rgba(60, 64, 67, 0.15);
  --font-montserrat: "Montserrat", sans-serif;
}

/* util classes */
.color-primary {
  color: var(--color-primary);
}

.color-primary-dark {
  color: var(--color-primary-dark);
}

.color-primary-light {
  color: var(--color-primary-light);
}

.color-primary-x-light {
  color: var(--color-primary-x-light);
}

.color-light {
  color: var(--color-light);
}

.color-dark {
  color: var(--color-dark);
}

.color-off-white {
  color: var(--color-off-white);
}

.color-mid {
  color: var(--color-mid);
}

.color-mid-dark {
  color: var(--color-mid-dark);
}

.bg-primary {
  background: var(--color-primary);
}

.bg-primary-dark {
  background: var(--color-primary-dark);
}

.bg-primary-light {
  background: var(--color-primary-light);
}

.bg-primary-x-light {
  background: var(--color-primary-x-light);
}

.bg-light {
  background: var(--color-light);
}

.bg-dark {
  background: var(--color-dark);
}

.bg-off-white {
  background: var(--color-off-white);
}

.bg-mid {
  background: var(--color-mid);
}

.bg-mid-dark {
  background: var(--color-mid-dark);
}

/* global styles */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", Calibri, 'Trebuchet MS', sans-serif;
  background: var(--color-dark);
  color: var(--color-light);
  line-height: 1.55;
  letter-spacing: 0.03ch;
}

main {
  flex: auto;
}

main .container {
  padding: 5rem 0;
  flex: auto;
}

a:not([class]) {
  color: var(--color-primary);
}

a:hover {
  text-decoration: none;
}

:is(p, li, blockquote, dl) {
  max-width: 65ch;
}

ul {
  padding: 0 0 0 1.3rem;
}

code {
  padding: 0.125em 0.25em;
  background: var(--color-off-white);
  border: 1px solid var(--color-stroke);
  font-family: var(--font-montserrat);
  font-size: 0.85em;
  hyphens: none;
  tab-size: 2;
  text-align: left;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}

figcaption {
  margin-top: 0.5em;
  font-weight: normal;
  text-align: left;
}

select {
  padding: 0.5rem;
  min-width: 12rem;
  font: inherit;
  border: 1px solid var(--color-stroke);
}

select:focus {
  border-color: var(--color-primary);
}

hr {
  border: 0;
  border-top: 1px solid var(--color-stroke);
  margin: 4rem auto !important; /* overrides flow rules */
}

label::after {
  content: "\A";
  white-space: pre;
}

::marker {
  color: var(--color-mid);
  font-size: 1.5em;
}