
/* microbase elements css style */

/* author: Tomasz Dudkowski */

/* imports microbase.util.css */
@import url("microbase.util.css");

/* text */
.xtra-small-text {
    font-size: 0.8rem;
}

.small-text {
    font-size: 1.1rem;
}

.medium-text {
    font-size: 1.5rem;
}

.large-text {
    font-size: 4rem;
}

:is(h1, h2, h3) {
    font-weight: 500;
    line-height: 1.2;
    max-width: 50ch;
  }
  
  h1 {
    font-size: 2.25rem;
  }
  
  h2 {
    font-size: 1.75rem;
    color: var(--color-mid-dark);
  }
  
  h3 {
    font-size: 1.25rem;
  }

  ::selection {
    color: var(--color-light);
    background-color: var(--color-primary-light);
  }

  /* button */
  
  /* base of button */
  .btn {
      margin: 1rem;
      cursor: pointer;
      transition: all 0.3s ease;
      text-align: center;
      background: var(--color-primary-light);
      color: var(--color-light);
      text-decoration: none;
  }

  .btn:hover {
    transition: all 0.3s ease;
  }

  /* button size */
  .btn-xs {
    padding: 8px 25px;
    font-size: 10px;
    width: fit-content;
  }

  .btn-s {
    padding: 10px 28px;
    font-size: 12px;
    width: fit-content;
  }

  .btn-m {
    padding: 20px 28px;
    font-size: 15px;
    width: fit-content;
  }

  .btn-l {
    padding: 10px 28px;
    font-size: 18px;
    width: fit-content;
  }

  /* button appearance */
  .btn-dark {
    background-color: var(--color-mid-dark);
    color: var(--color-light);
  }

  .btn-light {
    background-color: var(--color-primary-x-light);
    color: var(--color-dark);
  }

  .btn-round {
    border-radius: 15px;
  }

  .btn-semi-round {
    border-radius: 4px;
  }

  .btn-semi-transparent {
    background-color: rgba(39, 46, 181, 0.15);
    border: 1px solid rgba(32, 33, 36, 0.25);
    color: rgba(255, 255, 255, 1);
  }
  
  .btn-semi-transparent:hover {
    background-color: rgba(21, 30, 199, 0.1);
    border: 1px solid rgba(32, 33, 36, 0.2);
    color: rgba(255, 255, 255);
  }

  .btn-glow:hover {
    box-shadow: rgba(109, 113, 199, 0.5) 0px 0px 10px 0px;
  }